<!-- Navigation -->
<!-- Content -->
  <h1 class="page-title">Playlists</h1>
  <input type="text" ng-model="filter.area" id="landing-filter" placeholder="Search By City">
  <div class="myTrips" style="background-color: transparent">
    <span class="playlist" ng-repeat="trip in tripResults | filter:filter" ng-click="viewTrip(tripResults.indexOf(trip))">
      <div class="playlist-img">
        <img class="trip-img" src="{{trip.image}}" alt="image of {{trip.name}}, {{trip.destination[0]}}">
      </div>
      <div class="playlist-info">
        <p class="glyphicon glyphicon-play-circle play-icon"></p>
        <p class="trip-name">{{trip.name}}</p>
        <p class="trip-rating">Rating: {{trip.rating}} from {{trip.votes}} votes<!--get this rating from joey-->
        <p class="trip-duration">{{trip.timeReq}}</p>
        <p class="trip-destination">{{trip.destination}}</p>
      </div>
    </span>

</div>


